.content-banner{
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 200px;
    background: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.content-main{
    flex: 1;
    background-color: #f5f5f5;
    text-align: center;
}

#content{
    display: flex;
    flex-flow: row nowrap;
    flex-direction: column;
    width: 595px;
    height: 840px;
}
